body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #ff5a00;
    color: white;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#searchBar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
}

.search-button img {
    width: 20px;
    height: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: auto;
}

button {
    background-color: #ff5a00;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #e04a00;
}
